// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #0d0a0a !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #022ebf !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #044bd4 !default;
$hoverColour: #008000 !default;
$focusColour: #fa407a !default;
$captionColour: #696e6d !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: "Work Sans, sans-serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Crimson Text", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700");
